body {
    background-color: bisque;
    .login-container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .login-form {
            background-color: white;
            .input-group {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin: 2rem 2rem;
                text-align: center;
            }
        }
    }
}
